*, html {
    font-family: helvetica, arial, serif;
}

.analytics-container {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.analytics-placeholder {
    width: 90%;
    margin: 20px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.analytics-placeholder-apptype {
    width: 90%;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.analytics-placeholder-push {
    width: 90%;
    margin: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.build-container{
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 200px 1fr 4fr;
    grid-template-rows: 35px 50px 5fr 5fr;
}


.design-container {
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 200px 4fr 4fr;
    grid-template-rows: 35px 50px 200%;
}

.dashboard-container {
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 200px 4fr 4fr;
    grid-template-rows: 35px 50px 5fr 5fr;
}
.dashboard-logo{
    width: 30px;
    padding-right: 10px;
}

.features-container{
    grid-column: 2/3;
    grid-row: 2/5;
}

.features-heading{
    margin:10px;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid grey;
}

.headerNav-container {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #1F1F1F;
    color: white;
    font-size: 8px;
    padding: 10px;
}

.login-container {
    max-width: 500px;
    margin: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
}

.login-container-outer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #A52A2A;
}

.login-logo {
    width: 300px;
}

.login-password {
    margin: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
    border-radius: 5px;
}

.login-username {
    margin: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
    border-radius: 5px;
}

.login-submit {
    margin: 10px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: #677647;
    color: white;
    border-radius: 5px;
}

.nav-container {
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #3287B8;
    padding: 15px;
    text-align: -webkit-right;
}

.nav-dashboard-container {
    margin: 5px;
    margin-top: 15px;
}

.nav-settings-container {
    margin: 5px;
    margin-top: 15px;
    padding-top:10px;
    border-top: 1px solid white;
}

.nav-dashboard-link {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.overview-container {
    color: #868686;
    font-size: 12px;
    padding: 15px;
    grid-column: 2/4;
    justify-content: center;
    text-align: center;
}